// Green
$darkestgreen : #081c15;
$darkergreen : #1b4332;
$darkgreen : #2d6a4f;
$green: #40916c;
$lightgreen : #52b788;
$lightergreen : #95d5b2;
$lightestgreen : #d8f3dc;

// Blue
$blue : #184e77;
$lightblue : #1e6091;
$lighterblue : #1a759f;
$lightestblue : #168aad;

// Others
$aqua : #34a0a4;