.flexbox-container{
    display: flex;
    justify-content: center; //cross AXIS => Vertical
    align-items: center; //main AXIS => Horizontal
}

.activity{
    border-top: solid 1px rgb(173, 172, 172);
    border-radius: 100px;
}

#activity-text{
    margin-top: 0.5em;
}