*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Abstracts
@import './colors/colors.scss';
@import './fonts/fonts.scss';
@import './others/others.scss';

// Sections
@import '../../containers/Header/header.scss';
@import '../../containers/Navbar/navbar.scss';

//Components
@import '../../components/Dashboard/dashboard.scss';

// Pages
@import '../../pages/Home/home.scss';
@import '../../pages/Profile/profile.scss';