@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.flexbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'Leckerli One', cursive;
    color: rgb(51, 50, 50);
}