.flexbox-container{
    display: flex;
    justify-content: center; //cross AXIS => Vertical
    align-items: center; //main AXIS => Horizontal
    margin-top: 3em;
}


.profilePicture img{
    border: 0.5px solid grey;
    border-radius: 4em;
    width: 5em;
}

.name{
    margin-left: 1em;
}


.flexbox-item {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.profile-btn{
    border: 1px solid $green !important;
    color: $green !important;
    margin: 0.5em !important
}

