@import 'mixins';
@import 'colors';

.dashboard {
  @include flexCenter(column);
  margin-top: 20px;
  .dashboard__tabs {
    @include bigShadow();
    background-color: $lightgreybg;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    .dashboard__tabs__tab {
      @include flexCenter(row);
      width: 100%;
      text-align: center;
      padding: 10px;
      &.active {
        background-color: $lightgreen;
        color: #fff;
        &.dashboard__tabs__habits {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }
        &.dashboard__tabs__tasks {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
  .dashboard__habits {
    background-color: $lightgreybg;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    .dashboard__habits__habit {
      @include flexCenter(row);
      @include smallShadow();
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 5px;
      margin: 10px 0;
      width: 100%;
      justify-content: space-between;
    }
  }
  .dashboard__posts {
    h5 {
      font-weight: 600;
      text-align: center;
    }
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    .dashboard__posts__item {
      .dashboard__posts__item__msg {
        color: $greyfont;
        font-size: 0.9rem;
      }
      .dashboard__postActions {
        @include flexCenter(row);
        justify-content: space-evenly;
        margin-top: 0.8rem;
        font-size: 1.2rem;
        color: $greyfont;
      }
    }
  }
}
