@import 'mixins';
@import 'colors';

#header {
  @include flexCenter(row);
  padding: 10px;
  width: 100%;
  background: $lightgreen;
  font-size: 32px;
  position: fixed;
  top: 0;

  .header__logo {
    width: 40px;
  }
  svg {
    position: absolute;
    right: 20px;
    color: #fff;
  }
}
